* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    /*não permite selecionar o texto ao dar dois cliques */
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
  }

  .input-box {
    width: 450px;
  }

  .input-box h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
  }

  .input-box input {
    position: relative;
    height: 60px;
    width: 100%;
    background: transparent;
    border: none;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    margin: 15px 0 20px;
    outline: none;
    font-size: 24px;
    padding: 0 20px;
    letter-spacing: 2px;
    box-shadow: -4px -4px 5px rgba(255, 255, 255, 1),
      inset 4px 4px 5px rgba(0, 0, 0, 0.2),
      inset -4px -4px 10px rgba(255, 255, 255, 1),
      4px 4px 5px rgba(0, 0, 0, 0.1);
  }

  .input-box input::placeholder {
    letter-spacing: 0;
  }

#titulo{
    color: aliceblue;
}


  .input-box #btn {
    height: 30px;
    background-color: #3eb72b;
    border: 2;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 40px;

    color: #FFF;

    font-weight: bold;

    font-size: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input-box #btn:active {
    background: #9c27b0;
  }




    

   